In [1]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
df

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

In [2]:
df.sum()   #colume wise sum

Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Age                                                     382
Rating                                                44.92
dtype: object

In [3]:
df.sum(axis=1)  #row wise sum

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [4]:
df.mean()

Age       31.833333
Rating     3.743333
dtype: float64

In [5]:
df.std()

Age       9.232682
Rating    0.661628
dtype: float64

In [6]:
df.count()

Name      12
Age       12
Rating    12
dtype: int64

In [7]:
df.median()

Age       29.50
Rating     3.79
dtype: float64

In [8]:
df.mode()

      Name   Age  Rating
0   Andres  23.0    2.56
1   Betina  25.0    2.98
2    David  30.0    3.20
3   Gasper   NaN    3.24
4     Jack   NaN    3.65
5    James   NaN    3.78
6      Lee   NaN    3.80
7    Ricky   NaN    3.98
8    Smith   NaN    4.10
9    Steve   NaN    4.23
10     Tom   NaN    4.60
11     Vin   NaN    4.80

In [9]:
df.min()

Name      Andres
Age           23
Rating      2.56
dtype: object

In [11]:
df.min(1)

0     4.23
1     3.24
2     3.98
3     2.56
4     3.20
5     4.60
6     3.80
7     3.78
8     2.98
9     4.80
10    4.10
11    3.65
dtype: float64

In [12]:
df.max()

Name      Vin
Age        51
Rating    4.8
dtype: object

In [13]:
df.max(1)

0     25.0
1     26.0
2     25.0
3     23.0
4     30.0
5     29.0
6     23.0
7     34.0
8     40.0
9     30.0
10    51.0
11    46.0
dtype: float64

In [15]:
df['Age'].abs()

0     25
1     26
2     25
3     23
4     30
5     29
6     23
7     34
8     40
9     30
10    51
11    46
Name: Age, dtype: int64

In [16]:
df.prod()

Age       7.158408e+17
Rating    6.320128e+06
dtype: float64

In [17]:
df.prod(axis=1)

0     105.75
1      84.24
2      99.50
3      58.88
4      96.00
5     133.40
6      87.40
7     128.52
8     119.20
9     144.00
10    209.10
11    167.90
dtype: float64

In [18]:
df.cumsum()

                                                 Name  Age Rating
0                                                 Tom   25   4.23
1                                            TomJames   51   7.47
2                                       TomJamesRicky   76  11.45
3                                    TomJamesRickyVin   99  14.01
4                               TomJamesRickyVinSteve  129  17.21
5                          TomJamesRickyVinSteveSmith  158  21.81
6                      TomJamesRickyVinSteveSmithJack  181  25.61
7                   TomJamesRickyVinSteveSmithJackLee  215  29.39
8              TomJamesRickyVinSteveSmithJackLeeDavid  255  32.37
9        TomJamesRickyVinSteveSmithJackLeeDavidGasper  285  37.17
10  TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...  336  41.27
11  TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...  382  44.92

In [20]:
df['Age'].cumprod()

0                     25
1                    650
2                  16250
3                 373750
4               11212500
5              325162500
6             7478737500
7           254277075000
8         10171083000000
9        305132490000000
10     15561756990000000
11    715840821540000000
Name: Age, dtype: int64

In [21]:
df.describe()

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [22]:
df.describe(include=['object'])

         Name
count      12
unique     12
top     Smith
freq        1